.card{
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    margin-bottom: 1rem;
}
.card-primary.card-outline {
    border-top: 3px solid #007bff;
}

.topCard{
    padding-top: 30px;
    margin-left: -20px;
}

@media (max-width: 800px) {
    .topCard{
        
        margin-left: -1px;
    }

 
}